
h2{
  font-family: 'Star Wars', sans-serif;
}

.headerbackground{
  background-color: #252850;
}

:root {
  --neon-red: #ea190a;
  --neon-blue: #1ae3f5;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  background: var(--bg);
}
.boton_registrarse{
  position: relative;
  display: inline-block;
  margin-left: 40px;
  margin-right: -100px;
  padding: 10px 5px;
  bottom: 1vmin;
  right: 1vmin;
  color: var(--neon-blue);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003)
}

.boton_registrarse:hover {
  background: var(--neon-blue);
  color: var(--bg);
  box-shadow: 0 0 5px var(--neon-blue), 0 0 10px var(--neon-blue), 0 0 25px var(--neon-blue), 0 0 75px var(--neon-blue);
  transition-delay: .4s;
}



.boton_eliminar{
  position: relative;
  display: inline-block;
  margin-left: 40px;
  margin-right: -100px;
  padding: 10px 5px;
  bottom: 2vmin;
  right: 1vmin;
  color: var(--neon-red);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003)
}

.boton_eliminar:hover {
  background: var(--neon-red);
  color: var(--bg);
  box-shadow: 0 0 5px var(--neon-red), 0 0 10px var(--neon-red), 0 0 25px var(--neon-red), 0 0 75px var(--neon-red);
  transition-delay: .4s;
}


a span {
  position: absolute;
  display: block;
}



a.centered-link {
  position: static;
}

.overlay-text{
  font-family: 'Star Wars', sans-serif;
  color: white;
  text-align: center;
}

img{
  width: 300px;
  height: 300px;
  object-fit: cover;  
}


.transparente {
  background-color: transparent;
  border-color: transparent;
  color: #fff; /* Cambia esto al color que quieras */
}

.transparente:hover,
.transparente:focus,
.transparente:active {
  background-color: transparent;
  border-color: transparent;
  color: #fff; /* Cambia esto al color que quieras */
}

.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.1);
}

body {
  position: relative;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100px; 
}

.d-flex {
  position: absolute;
  z-index: 1;
  top: 20%; 
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

canvas {
  position: absolute;
  z-index: 0;
}

.textoh2{
  top: 35px;
}

img.user-icon {
  height: 50px; /* Ajusta esto para cambiar el tamaño de la imagen */
  width: 50px; /* Ajusta esto para cambiar el tamaño de la imagen */
  float: right; /* Esto mueve la imagen a la derecha */
  margin-left: auto;
  margin-top: -40px;
}


.user-name{
  margin-top: -40px;
  margin-left: 5px;
}

.boton-registrar{
  margin-top : -60px;
}